@font-face {
    font-family: 'Cera Pro';
    src: url(/fonts/CeraPro-Regular.woff2?98174a78a68fda76bc804e9965a6c8c1) format('woff2'),
        url(/fonts/CeraPro-Regular.woff?c7da3a40565f40d48ea707271e3d3efb) format('woff'),
        url(/fonts/CeraPro-Regular.ttf?1b7f7963cbafd9cc1e33c729ad90f4fb) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url(/fonts/CeraPro-Bold.woff2?b1c16c1f6b8d0ca8bef198b89e86f026) format('woff2'),
        url(/fonts/CeraPro-Bold.woff?b7759d3a48655f563f3090a4c16b5368) format('woff'),
        url(/fonts/CeraPro-Bold.ttf?9516746e439619b130312f0b9d778dc6) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Black';
    src: url(/fonts/CeraPro-Black.woff2?afbc5d00e1521000a90d91714c3307f8) format('woff2'),
        url(/fonts/CeraPro-Black.woff?a610304e061eca028690e462c7420aa3) format('woff'),
        url(/fonts/CeraPro-Black.ttf?2ee7ece963cf5c2678401a7f336b5e71) format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
    color: #FFFFFF;
	text-decoration: none;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #180C31;
    font: 16px'Cera Pro', Helvetica, Arial, sans-serif;
}

#app {
    margin: auto;
    /*background-color: silver;*/
    width: 80%;
}

header {
    height: 129px;
    /*background-color: green;*/
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    position: absolute;
    left: 0;
    top: 81px;
}

.info-header {
    font-size: 18px;
}

nav ul {
    width: 380px;
    display: flex;
    justify-content: space-between;
    /*font-size: 16px;*/
}

li {
    list-style-type: none;
}

nav li {
    /* list-style-type: none; */
    letter-spacing: 0.1em;
}

nav li a {
    font-size: 16px;
    text-decoration: none;
}

.active a {
    border-bottom: 1px solid #fff;
}

main {
    margin-top: 70px;
    padding-left: 18px;
    /*background-color: blue;*/
}

.company-header {
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0,04em;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: 'Cera Pro Black', 'Cera Pro Bold';
}

.company-text {
    width: 50%;
    font-size: 18px;
    line-height: 150%;
}

.alert {
    /* width: 250px; */
    width: 320px;
    background-color: FireBrick;
}

.hr-horizontal-gradient {
	height: 2px;
	border: none;
	background: linear-gradient(45deg, #8C8698, #180C31);
}

.clear {
	clear: both;
	height: 0;
	width: 100%;
}

.code {
    border: 1px solid #8C8698;
}

.btn {
    border: 1px solid #8C8698;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.1em;
    border-radius: 0;
    vertical-align: middle;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #fff;
}

.form-control {
    background-color: #8C8698;
}

@media (max-width: 1200px) and (min-width: 993px) {
    .company-text {
        width: 80%;
    }
}

/* @media {max-width: 1200} {

} */

@media (max-width: 992px) {
    #app {
        margin: 0;
        width: 100%;
        padding-right: 18px;
    }

    header {
        padding-right: 18px;
        height: 40px;
    }

    ul {
        /* width: 265px; */
        width: 320px;
    }

    nav li a {
        font-size: 13px;
    }

    .logo {
        width: 50px;
        height: 50px;
        left: 10px;
        top: 10px;
    }

    main {
        margin-top: 60px;
    }

    .company-header {
        font-size: 24px;
    }

    .alert {
        width: 250px;
    }

    .company-text {
        width: 70%;
        font-size: 14px;
        line-height: 140%;
    }
}

